<div class="navbar-wagon">
  <div class="navbar-section hidden-xs hidden-sm">
  <!-- Logo -->
    <%= link_to root_path, class: "navbar-wagon-logo" do %>
      online solver
    <% end %>
    <p>made with <i class="fas fa-heart navbar-icon"></i> by Catarina</p>
  </div>
  <!-- Right Navigation -->
  <div class="navbar-section hidden-xs hidden-sm">

    <% if user_signed_in? %>
      <!-- Links when logged in -->
      <a href="/admin" class="navbar-wagon-item navbar-wagon-link">Manage My Functions</a>

      <%= link_to destroy_user_session_path, class: "navbar-wagon-item navbar-wagon-link", method: :delete do %>
        <%= t(".sign_out", default: "Sign Out") %>
      <% end %>

    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Sign In"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

</div>

